Package: online.transrights.kattery
Name: Kattery
Version: 0.5.5
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kota & Snoolie
Author: Kota & Snoolie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3),  ws.hbang.alderis (>= 1.1)
