<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
        	<string>The Best Battery Customization Tweak!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>batteryFillColor</string>
			<key>label</key>
			<string>Battery Fill Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>lowBattery</string>
			<key>label</key>
			<string>Battery Fill Color(Charging)</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Outer Color Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>fillColor1</string>
			<key>label</key>
			<string>Outer Color (Not Charging)</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>fillColor2</string>
			<key>label</key>
			<string>Outer Color (Charging)</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pin Color Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>pinColor1</string>
			<key>label</key>
			<string>Pin Color (Not Charging)</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>pinColor2</string>
			<key>label</key>
			<string>Pin Color (Charging)</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
        	<string>Glow Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>KATTLabeledSliderCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>default</key>
			<string>4</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>8</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Shadow Radius</string>
			<key>shadowRadius</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>shadowColor</string>
			<key>label</key>
			<string>Glow Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Percent Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.kattery</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>labelColor</string>
			<key>label</key>
			<string>Percent Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.kattery/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Kota's GitHub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGithubKota</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Snoolie's GitHub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGithubSnoolie</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy Badger!</string>
			<key>icon</key>
			<string>badger@2x.png</string>
			<key>action</key>
			<string>buyBadger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Join Kota's Discord! (Support)</string>
			<key>icon</key>
			<string>discord@2x.png</string>
			<key>action</key>
			<string>transDiscord</string>
		</dict>
	</array>
	<key>title</key>
	<string>Kattery :3</string>
</dict>
</plist>
